body{
    font-family: sans-serif;
}

.outer-container{
    padding: 20px;
}

button{
    outline: none;
    color: white;
    background-color: purple;
    font-size: 20px;
    cursor: pointer;
    border-radius: 9px;
    margin: 5px;
    padding: 10px;
}

#top #timer {
    float: right;
    font-size: 20px;
}

#introduction {
    text-align: center;
    margin-top: 90px;
}

#introduction h1{
    font-size: 40px;
    padding-bottom: 20px;
}


#introduction p{
    font-size: 20px;
    padding-bottom: 40px;
}

.question_page{
    text-align: center;
}

.question_page h2{
    font-size: 38px;
    margin-bottom: 20px;

}

.question_page li{
    list-style-type: none;
}

#check_line{
    font-size: 30px;
    margin-top: 20px;
    color: grey;
}

#submit_page {
    text-align: center;
}

#submit_page h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

#submit_page p {
    font-size: 20px;
}

#highscore_page {
    text-align: center;
}

#highscore_page h2 {
    font-size: 38px;
    margin-bottom: 20px;
}

#highscore_page p {
    font-size: 20px;
}

.question_page, .submit_page, .highscore_page, #check_line {
    display:none;
}

